<div class='container'>
    <div class='row'>
        <div class='col col-md-8 page-title' id='col-main-content'>
            <h1>What's new?</h1>
            {{#if user.isAdmin}}
            <button class='btn btn-outline-success' id='btn-add'>Add</button>
            {{/if}}
            <h3>{{month}} {{year}}</h3>
            <hr />
            {{#each updates}}
            <a class='link-update-box' href="/news/view/{{_id}}">
                <div class='update-box'>
                    <h2>{{title}}</h2>
                    <h5>{{subtitle}}</h5>
                    <span><i>{{createdAt}}</i></span>
                    <p class='p-update-description'>{{description}}</p>
                </div>
            </a>
            {{else}}
            <h3>No updates yet! Stay tuned!</h3>
            {{/each}}
            <div id='div-see-all'>
                <a href='/news/all?limit=20'>See all updates</a>
            </div>
        </div>
    </div>
</div>

<script>
    $('#btn-add').click(() => {
        window.location.href = "/news/add";
    });

    $('.update-box').click(() => {
        window.location.href = "#";
    });
</script>