<div class='container'>
    <div class='row'>

        <div class='col col-md-12'>
            <h1>{{update.title}}</h1>
            <h3>{{update.subtitle}}</h3>

            <p>{{update.author}}</p>
            <p>{{update.createdAt}}</p>
            <p>{{update.description}}</p>
        </div>

    </div>
</div>