<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>

    <div class='row'>
        <div class='col'>
            <h1>Your exercises</h1>
        </div>
    </div>

    <div class='row'>

        <div class='col col-md-2'>

            <a class="btn btn-success btn-modal" data-toggle="modal" data-target="#addExerciseModal">
                New Exercise
            </a>

            <hr />

            <div class="dropdown-limit">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Training
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/exercises">All</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/exercises?training=cardio">Cardio</a>
                    <a class="dropdown-item" href="/exercises?training=strength">Strength</a>
                </div>
            </div>

            <input type='text' name='Search' placeholder="Filter">

            <button class='btn btn-primary'>Refresh</button>

        </div>

        <div class='col col-md-10'>

            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Training</th>
                        <th scope='col'>Type</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each exercises}}
                    <tr>
                        <td>{{_id}}</td>
                        <td>{{name}}</td>
                        <td>{{category}}</td>
                        <td>{{type}}</td>
                        <td>
                            <button class='btn btn-warning'>Edit</button>
                            <form action='/exercises/delete' method='post'>
                                <div class="form-group">
                                    <input type='hidden' name='_id' value='{{_id}}'>
                                </div>
                                <button class='btn btn-danger' type='submit' value='Submit'>Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</div>

<div class="modal fade" id="addExerciseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Add Exercise</h5>
                <button type="button" class="close" data-backdrop="static" data-toggle="modal" data-keyboard="false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id='' action='/exercises/add' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-name">Exercise name</label>
                        <input name='name' class="form-control" id="input-name"
                            placeholder="Squats, Pull-ups, 5K, etc.">
                    </div>
                    <div class="form-group">
                        <label for="input-type">Type of exercise</label>
                        <input name='type' class="form-control" id="input-type"
                            placeholder="Legs, Biceps, Running, etc.">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category-strength"
                            value="Strength" checked>
                        <label class="form-check-label" for="category-strength">
                            Strength
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category-cardio"
                            value="Cardio">
                        <label class="form-check-label" for="category-cardio">
                            Cardio
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value='Submit' class="btn btn-success">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function deleteExercise(_id) {
        console.log('posting');
        $.ajax({
            type: "POST",
            url: './exercises/delete',
            data: JSON.stringify({ _id: _id }),
            contentType: "application/json"
        });
    }
</script>