<link rel="stylesheet" href="/styles/profile.css" />

<div class='container'>

    <div class='row'>
        <div class='col'>
            <h1>Your exercises</h1>
        </div>
    </div>

    <div class='row'>

        <div class='col col-md-2'>

            <a class="btn btn-success btn-modal" id='btn-add-exercise' data-toggle="modal" data-target="#exerciseModal">
                New Exercise
            </a>

            <hr />

            <div class="dropdown-limit">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Training
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/exercises">All</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="/exercises?training=cardio">Cardio</a>
                    <a class="dropdown-item" href="/exercises?training=strength">Strength</a>
                </div>
            </div>

            <input type='text' name='Search' placeholder="Filter">

            <button class='btn btn-primary'>Refresh</button>

        </div>

        <div class='col col-md-10'>

            <table class='table'>
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Training</th>
                        <th scope='col'>Type</th>
                        <th scope='col'></th>
                    </tr>
                </thead>
                <tbody>
                    {{#each exercises}}
                    <tr>
                        <td id='name-{{_id}}'>{{name}}</td>
                        <td id='category-{{_id}}'>{{category}}</td>
                        <td id='type-{{_id}}'>{{type}}</td>
                        <td>
                            <button class='btn btn-warning btn-edit-exercise' data-id={{_id}} data-toggle="modal"
                                data-target="#exerciseModal">
                                Edit
                            </button>
                            <form action='/exercises/delete' method='post'>
                                <div class="form-group">
                                    <input type='hidden' name='_id' value='{{_id}}'>
                                </div>
                                <button class='btn btn-danger' type='submit' value='Submit'>Delete</button>
                            </form>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>

        </div>

    </div>
</div>

<div class="modal fade" id="exerciseModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id='h5-modal-title'>Add Exercise</h5>
                <button type="button" class="close" data-backdrop="static" data-toggle="modal" data-keyboard="false"
                    aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id='modal-form' action='' method='post'>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="input-name">Exercise name</label>
                        <input name='name' class="form-control" id="input-name"
                            placeholder="Squats, Pull-ups, 5K, etc.">
                    </div>
                    <div class="form-group">
                        <label for="input-type">Type of exercise</label>
                        <input name='type' class="form-control" id="input-type"
                            placeholder="Legs, Biceps, Running, etc.">
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category-strength"
                            value="Strength" checked='checked'>
                        <label class="form-check-label" for="category-strength">
                            Strength
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="category" id="category-cardio"
                            value="Cardio" checked='un'>
                        <label class="form-check-label" for="category-cardio">
                            Cardio
                        </label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" value='Submit' class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>

    $(document).on('click', '#btn-add-exercise', () => {
        $('#h5-modal-title').text("Add Exercise");
        $("#modal-form").attr('action', '/exercises/add');
    });

    $(document).on("click", ".btn-edit-exercise", function () {
        
        $('#h5-modal-title').text("Edit Exercise");
        
        let exerciseID = $(this).data('id');
        $('#input-name').val($('#name-'+exerciseID).text())
        $('#input-type').val($('#type-'+exerciseID).text())

        if ($('#category-'+exerciseID).val() == 'Strength') {
            $('#category-strength').attr('checked', 'true');
            $('#category-cardio').attr('checked', 'false');
        } else {
            $('#category-strength').attr('checked', 'false');
            $('#category-cardio').attr('checked', 'true');
        }

        $('#modal-form').append(
            "<input type='hidden' name='_id' value='" + exerciseID + "'>"
        );

        $("#modal-form").attr('action', '/exercises/edit');
    });

</script>k